@mixin smooth {
  @include transition(ease-in-out 0.25s);
}

@mixin pulsating-animation($time:1.5s){
  animation: pulse $time infinite;
}

@mixin jumping-animation {
  animation: jump 1s infinite;
}

@mixin rotating {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    @include transform(scale(1,1));
  }

  25% {
    @include transform(scale(0.9,0.9));
  }

  50% {
    @include transform(scale(0.8,0.8));
  } 

  75% {
    @include transform(scale(0.9,0.9));
  }

  100% {
    @include transform(scale(1,1));
  }
}


@keyframes jump {
  0% {
    @include transform(translate(0,-30%));
  }

  25% {
    @include transform(translate(0,0));
  }

  50% {
    @include transform(translate(0,-30%));
  } 

  75% {
    @include transform(translate(0,0));
  }

  100% {
    @include transform(translate(0,-30%));
  }
}

@keyframes pulse {
  0% {
    @include transform(scale(1,1));
  }

  25% {
    @include transform(scale(0.9,0.9));
  }

  50% {
    @include transform(scale(0.8,0.8));
  } 

  75% {
    @include transform(scale(0.9,0.9));
  }

  100% {
    @include transform(scale(1,1));
  }
}

@mixin poof {
  animation: play 0.3s steps(5) 1;
}

@keyframes play {
  from { background-position:  0px 0px; }
  to { background-position:  0px -250px; }
}

@mixin gentle-fadein($delay:2s, $time:0.4s) {
  animation: fade-in $time linear $delay 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from { opacity:0; }
  to { opacity:1; }
}
