$darker-brown: #443d2d;
$orange: #e0753b;
$blanc-casse: #eceae6;
$dark-brown: #524632;
$light-blue: #8db3d0;
$very-dark-brown: #464339;

$yellowish: #dbd5c7;
$light-brown: #948C74;

$light-black: #34322E;