.tutorial {

	height: 100%;
	width: 100%;
	$border: 4px;
	$padding: 15px;

	

	.step {
		
		position: absolute;
		background-color: $very-dark-brown;
		opacity: 0.8;
		padding: $padding;
		color: $yellowish;
		border: solid $border $orange;
		@include border-radius(4px);
		z-index: 1000;
		margin-top: -100px;
		@include transition(opacity 0.4s ease-in-out 0.1s);
		$width: 300px;
		width: $width;
		margin-left: -($width/2 + $border + $padding);
	}

	.s1 {
		left: 50%;
		top: -20px;
		margin-top: 0;
	}

	.hidden {
		opacity: 0;
		z-index: 0;
	}

	$arrow-size: 30px;

	.tooltip-arrow {
		display: block;
		width: $arrow-size;
	   	height: $arrow-size;
	   	position: absolute;
	   	overflow: hidden;
	   	left: 50%;
	   	margin-left: -($arrow-size/2);
	   	top: 100%;
	}

	.tooltip-arrow:after {
	   content: "";
	   position: absolute;
	   width: $arrow-size - $border*2;
	   height: $arrow-size - $border*2;
	   background: $very-dark-brown;
	   border: solid $border $orange;
	   -webkit-transform: rotate(45deg);
	   top: - ($arrow-size - $border*2);
	   left: 0px;
	}

}