/** webkit **/
@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  50% {
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  75% {
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jump {
  0% {
    -moz-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
  }
  25% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
  }
  75% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
  }
}
/** moz **/
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  50% {
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  75% {
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes jump {
  0% {
    -moz-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
  }
  25% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
  }
  75% {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
  }
}
@-webkit-keyframes play {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 0px -250px;
  }
}
@-moz-keyframes play {
  from {
    background-position: 0px -250px;
  }
  to {
    background-position: 0px 0px;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: Parisish;
  src: url("../fonts/Parisish.ttf");
}
@font-face {
  font-family: Poiret;
  src: url("../fonts/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: DanieleBlack;
  src: url("../fonts/danielbk.ttf");
}
/* line 16, _typography.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  font-family: "ProximaNova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

/* line 25, _typography.scss */
.hidden {
  opacity: 0;
}

/* line 1, _layout.scss */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 3, _layout.scss */
a {
  color: #534733;
  text-decoration: none;
  font-weight: bold;
}

/* line 7, _layout.scss */
header {
  width: 100%;
  text-align: center;
  color: #eceae6;
}

/* line 13, _layout.scss */
.branding {
  margin: auto;
}
/* line 16, _layout.scss */
.branding h1 {
  display: inline-block;
  margin: 25px 8px;
  padding: 0;
  font-family: 'Poiret';
  color: #524632;
  font-size: 62px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
/* line 26, _layout.scss */
.branding .logo {
  position: relative;
  top: 6px;
  width: 60px;
  height: 60px;
  display: inline-block;
  background-image: url("../images/mic-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 39, _layout.scss */
.branding .tagline {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: -50px;
  left: -11px;
}

/* line 48, _layout.scss */
body {
  color: #524632;
  background-color: #eceae6;
}

/* line 53, _layout.scss */
.editor, .browser {
  position: relative;
  text-align: center;
}
/* line 57, _layout.scss */
.editor .image-container-wrapper, .browser .image-container-wrapper {
  position: relative;
  display: inline-block;
}

/* line 63, _layout.scss */
.browser {
  margin: 0 20px 40px 20px;
}

/* line 67, _layout.scss */
footer {
  -webkit-animation: fade-in 0.4s linear 2s 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: fade-in 0.4s linear 2s 1;
  -moz-animation-fill-mode: forwards;
  opacity: 0;
  text-align: center;
  padding: 2em;
  font-size: 12px;
}
/* line 71, _layout.scss */
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 74, _layout.scss */
footer ul li {
  margin-right: 1em;
  display: inline;
}
/* line 78, _layout.scss */
footer ul li a {
  font-weight: lighter;
}

/* line 1, _image-selector.scss */
#dropzone {
  margin: 50px auto 80px auto;
  -moz-box-shadow: inset 0 0 15px -4px #000, 0 0 200px 0px #fff;
  -webkit-box-shadow: inset 0 0 15px -4px #000, 0 0 200px 0px #fff;
  box-shadow: inset 0 0 15px -4px #000, 0 0 200px 0px #fff;
  border: 1px solid #948C74;
  border-radius: 5px;
  text-align: center;
  height: 350px;
  width: 350px;
  cursor: pointer;
  background-image: url("../images/microphone.png");
  background-repeat: no-repeat;
  background-position: 50% 170px;
}
/* line 19, _image-selector.scss */
#dropzone h3 {
  font-family: 'Poiret';
  font-size: 30px;
  color: #464339;
  margin: 40px 20px;
}
/* line 26, _image-selector.scss */
#dropzone.loading {
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: 50%;
  cursor: wait;
}

/* line 1, _image-viewer.scss */
.image-container-wrapper {
  background-color: #eceae6;
  margin: 30px;
}

/* line 6, _image-viewer.scss */
.frame {
  position: relative;
}

/* line 10, _image-viewer.scss */
.image-viewer {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 1px 0 3px rgba(0, 0, 0, 0.15), inset -1px 0 3px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(0, 0, 0, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 3px rgba(0, 0, 0, 0.15), inset -1px 0 3px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(0, 0, 0, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 0 3px rgba(0, 0, 0, 0.15), inset -1px 0 3px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(0, 0, 0, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.15);
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 16, _image-viewer.scss */
.image-viewer.hidden {
  opacity: 0.5;
}

/* line 22, _image-viewer.scss */
.image-viewer::after {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: '';
  z-index: 1;
}

/* line 37, _image-viewer.scss */
.the-image {
  display: block;
  margin: 0;
  padding: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

/* line 1, _recorder.scss */
button.record {
  display: none;
}

/* line 120, buttons/*.png */
.buttons-sprite, .buttons-deleting, .markers-container .marker-wrapper .markers .marker.normal.deleting:hover, .buttons-normal, .markers-container .marker-wrapper .markers .marker.normal, .markers-container .marker-wrapper .markers .marker.discrete, .markers-container .marker-wrapper .markers .marker.loading, .buttons-play, .buttons-playactive, .markers-container .marker-wrapper .markers .marker.normal:hover .play, .buttons-record, .markers-container .marker-wrapper .markers .marker.ready-to-record .record, .buttons-recordactive, .markers-container .marker-wrapper .markers .marker.ready-to-record .record:hover, .buttons-stop, .markers-container .marker-wrapper .markers .marker.recording .record, .markers-container .marker-wrapper .markers .marker.playing .pause, .buttons-stopactive, .markers-container .marker-wrapper .markers .marker.recording .record:hover, .markers-container .marker-wrapper .markers .marker.playing .pause:hover, .buttons-upload, .markers-container .marker-wrapper .markers .marker.uploading .record, .buttons-uploadactive {
  background-image: url('../images/buttons-sab1793f757.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-deleting, .markers-container .marker-wrapper .markers .marker.normal.deleting:hover {
  background-position: 0 0;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-normal, .markers-container .marker-wrapper .markers .marker.normal, .markers-container .marker-wrapper .markers .marker.discrete, .markers-container .marker-wrapper .markers .marker.loading {
  background-position: 0 -50px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-play {
  background-position: 0 -100px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-playactive, .markers-container .marker-wrapper .markers .marker.normal:hover .play {
  background-position: 0 -150px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-record, .markers-container .marker-wrapper .markers .marker.ready-to-record .record {
  background-position: 0 -200px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-recordactive, .markers-container .marker-wrapper .markers .marker.ready-to-record .record:hover {
  background-position: 0 -250px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-stop, .markers-container .marker-wrapper .markers .marker.recording .record, .markers-container .marker-wrapper .markers .marker.playing .pause {
  background-position: 0 -300px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-stopactive, .markers-container .marker-wrapper .markers .marker.recording .record:hover, .markers-container .marker-wrapper .markers .marker.playing .pause:hover {
  background-position: 0 -350px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-upload, .markers-container .marker-wrapper .markers .marker.uploading .record {
  background-position: 0 -400px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.buttons-uploadactive {
  background-position: 0 -450px;
}

/* line 4, _markers.scss */
.markers-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 13, _markers.scss */
.markers-container .hidden {
  opacity: 0;
}
/* line 17, _markers.scss */
.markers-container .marker-wrapper {
  height: 100%;
}
/* line 20, _markers.scss */
.markers-container .marker-wrapper .markers {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 24, _markers.scss */
.markers-container .marker-wrapper .markers.editable {
  cursor: url("../images/cursor-mic.png"), auto;
}
/* line 28, _markers.scss */
.markers-container .marker-wrapper .markers .marker {
  background-image: none;
  margin: 0;
  padding: 0;
  position: absolute;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
/* line 37, _markers.scss */
.markers-container .marker-wrapper .markers .marker button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: block;
  width: 50px;
  height: 50px;
}
/* line 47, _markers.scss */
.markers-container .marker-wrapper .markers .marker button:focus {
  outline: none;
}
/* line 51, _markers.scss */
.markers-container .marker-wrapper .markers .marker .play {
  display: none;
}
/* line 52, _markers.scss */
.markers-container .marker-wrapper .markers .marker .pause {
  display: none;
}
/* line 55, _markers.scss */
.markers-container .marker-wrapper .markers .marker.normal {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 61, _markers.scss */
.markers-container .marker-wrapper .markers .marker.normal:hover {
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background: none;
}
/* line 66, _markers.scss */
.markers-container .marker-wrapper .markers .marker.normal:hover .play {
  display: block;
  cursor: pointer;
}
/* line 73, _markers.scss */
.markers-container .marker-wrapper .markers .marker.normal.deleting:hover {
  cursor: no-drop;
  transition: none;
}
/* line 77, _markers.scss */
.markers-container .marker-wrapper .markers .marker.normal.deleting:hover .play {
  display: none;
}
/* line 84, _markers.scss */
.markers-container .marker-wrapper .markers .marker.poof {
  cursor: default;
  border-radius: 0;
  background-image: url("../images/poof.png");
  background-position: 0px -250px;
  background-repeat: no-repeat;
  -webkit-animation: play 0.3s steps(5) 1;
  -moz-animation: play 0.3s steps(5) 1;
}
/* line 93, _markers.scss */
.markers-container .marker-wrapper .markers .marker.poof .play {
  display: none;
}
/* line 98, _markers.scss */
.markers-container .marker-wrapper .markers .marker.discrete {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  cursor: default;
}
/* line 106, _markers.scss */
.markers-container .marker-wrapper .markers .marker.ready-to-record .record {
  cursor: pointer;
}
/* line 115, _markers.scss */
.markers-container .marker-wrapper .markers .marker.recording {
  -moz-animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
}
/* line 117, _markers.scss */
.markers-container .marker-wrapper .markers .marker.recording .record {
  cursor: pointer;
}
/* line 126, _markers.scss */
.markers-container .marker-wrapper .markers .marker.uploading {
  -webkit-animation: jump 1s infinite;
  -moz-animation: jump 1s infinite;
}
/* line 128, _markers.scss */
.markers-container .marker-wrapper .markers .marker.uploading .record {
  cursor: wait;
}
/* line 134, _markers.scss */
.markers-container .marker-wrapper .markers .marker.loading {
  cursor: wait;
}
/* line 140, _markers.scss */
.markers-container .marker-wrapper .markers .marker.playing .pause {
  display: block;
  cursor: pointer;
}

/* line 154, _markers.scss */
.countdown {
  position: relative;
  top: 15px;
  font-family: "Poiret";
  font-size: 16px;
  font-weight: bold;
}

/* line 1, _toolbar.scss */
.readonly-notification {
  margin: 7px;
  font-size: 14px;
  color: #464339;
}
/* line 6, _toolbar.scss */
.readonly-notification button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 19px;
  width: 19px;
  margin: 0px 4px;
  background-image: url("../images/close-button.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: top;
}

/* line 23, _toolbar.scss */
.readonly-notification.hidden {
  display: none;
}

/* line 28, _toolbar.scss */
.catchphrase {
  z-index: 1000;
  position: fixed;
  top: 160px;
  right: 100px;
  color: #e0753b;
  font-family: 'DanieleBlack';
  text-align: center;
  font-size: 28px;
  width: 350px;
}

/* line 40, _toolbar.scss */
.arrow {
  z-index: 1000;
  position: fixed;
  height: 170px;
  width: 128px;
  top: 0px;
  right: 55px;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 54, _toolbar.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 900;
}

/* line 66, _toolbar.scss */
.toolbar {
  -moz-box-shadow: 0px 2px 3px -1px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0px 2px 3px -1px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 2px 3px -1px rgba(51, 51, 51, 0.5);
}
/* line 72, _toolbar.scss */
.toolbar .shelf {
  height: 120px;
}
/* line 77, _toolbar.scss */
.toolbar.collapsed .shelf {
  height: 0px;
}
/* line 82, _toolbar.scss */
.toolbar .handle {
  background-color: #464339;
  height: 40px;
}
/* line 86, _toolbar.scss */
.toolbar .handle h3 {
  padding: 6px 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Poiret';
}
/* line 92, _toolbar.scss */
.toolbar .handle h3 a {
  color: #eceae6;
  text-decoration: none;
}

/* line 101, _toolbar.scss */
.busy .loader {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 9px;
  right: 14px;
  background-image: url("../images/toolbar-loader.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;
}

/* line 1, _recording-indicator.scss */
.recording-indicator {
  position: fixed;
  z-index: 10000;
  top: 7px;
  left: 20px;
  color: #e0753b;
  font-family: Poiret;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}
/* line 13, _recording-indicator.scss */
.recording-indicator.hidden {
  opacity: 0;
}

/* line 1, _sharing.scss */
.sharing-bar {
  -webkit-animation: fade-in 0.4s linear 2s 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: fade-in 0.4s linear 2s 1;
  -moz-animation-fill-mode: forwards;
  margin: 0;
  padding: 0;
  opacity: 0;
}
/* line 7, _sharing.scss */
.sharing-bar li {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
}

/* line 14, _sharing.scss */
.share-url {
  cursor: text;
  background-color: #eceae6;
  color: #464339;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #464339;
  padding: 4px 6px;
  display: inline-block;
  width: 220px;
}

/* line 26, _sharing.scss */
.twitter {
  display: block;
  width: 22px;
  height: 18px;
  background-image: url("../images/twitter.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  top: 7px;
}

/* line 39, _sharing.scss */
.facebook {
  display: block;
  width: 11px;
  height: 20px;
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  top: 6px;
}

/* line 3, _feedback.scss */
.feedback .message {
  text-align: center;
  margin-top: 40px;
}

/* line 1, _tutorial.scss */
.tutorial {
  height: 100%;
  width: 100%;
}
/* line 10, _tutorial.scss */
.tutorial .step {
  position: absolute;
  background-color: #464339;
  opacity: 0.8;
  padding: 15px;
  color: #dbd5c7;
  border: solid 4px #e0753b;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 1000;
  margin-top: -100px;
  -moz-transition: opacity 0.4s ease-in-out 0.1s;
  -o-transition: opacity 0.4s ease-in-out 0.1s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: opacity 0.4s ease-in-out 0.1s;
  width: 300px;
  margin-left: -169px;
}
/* line 27, _tutorial.scss */
.tutorial .s1 {
  left: 50%;
  top: -20px;
  margin-top: 0;
}
/* line 33, _tutorial.scss */
.tutorial .hidden {
  opacity: 0;
  z-index: 0;
}
/* line 40, _tutorial.scss */
.tutorial .tooltip-arrow {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
  left: 50%;
  margin-left: -15px;
  top: 100%;
}
/* line 51, _tutorial.scss */
.tutorial .tooltip-arrow:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: #464339;
  border: solid 4px #e0753b;
  -webkit-transform: rotate(45deg);
  top: -22px;
  left: 0px;
}
